<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Production Order{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Openlabs Technologies & Consulting (P) Ltd.">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <style type="text/css">
      .page-break {
        padding-top: 10px;
        page-break-before: always;
      }
      hr {
        border-top: 1px solid #000;
      }
      .h3 {
        font-size: 20px;
      }
      .h2 {
        font-size: 16px;
      }
      body {
        font-family: 'Lora', serif;
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    {% for production in records %}
      <div class="container-fluid {% if not loop.first %}page-break{% endif %}">
        <div class="row">
          <div class="col-xs-6">
            {% block company_header %}
            {% endblock %}
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-12">
                <span class="h3">Production Order</span>
              </div>
            </div>
            <div class="row" style="padding-top:20px;">
              <div class="col-xs-5">
                <strong>Production #</strong>
              </div>
              <div class="col-xs-7">
                {{ production.code }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <strong>Production State:</strong>
              </div>
              <div class="col-xs-7 text-capitalize">
                {{ production.state }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <strong>Planned Date:</strong>
              </div>
              <div class="col-xs-7">
                {{ production.planned_date and production.planned_date|dateformat }}
              </div>
            </div>
            {% if production.effective_date %}
                <div class="row">
                  <div class="col-xs-5">
                    <strong>Effective Date:</strong>
                  </div>
                  <div class="col-xs-7">
                    {{ production.effective_date|dateformat }}
                  </div>
                </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr />
          </div>
          <div class="col-xs-12">
            <table class="table">
              <thead>
                {% if production.reference %}
                  <th class="text-center">Reference</th>
                {% endif %}
                <th class="text-center">Warehouse</th>
                <th class="text-center">BOM</th>
                <th class="text-center">Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Cost</th>
              </thead>
              <tbody>
                <tr>
                  {% if production.reference %}
                    <th class="text-center">{{ production.reference }}</th>
                  {% endif %}
                  <td class="text-center">{{ production.warehouse and production.warehouse.rec_name}}</td>
                  <td class="text-center">{{ production.bom and production.bom.rec_name or 'N/A' }}
                  <td class="text-center">{{ production.product and production.product.rec_name or 'N/A' }}</td>
                  <td class="text-center">
                    {% if production.quantity %}
                      {{ formatLang(production.quantity, production.company.party.lang, digits=production.unit_digits) }} {% if production.uom.symbol != 'u' %}{{ production.uom.symbol }}{% endif %}
                    {% else %}
                      'N/A'
                    {% endif %}
                  </td>
                  <td class="text-center">{{ production.cost|currencyformat(production.company.currency.code) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="h2">Inputs</span>
          </div>
          <div class="col-xs-12">
            <table class="table">
              <tbody>
                <tr>
                  <th>#</th>
                  <th class="text-center">Item</th>
                  <th>Description</th>
                  <th class="text-right">Quantity</th>
                  <th class="text-center">From Location</th>
                  <th class="text-center">Planned Date</th>
                  <th class="text-center">Effective Date</th>
                  <th class="text-right">State</th>
                </tr>
                {% for move in production.inputs %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td class="text-center">
                      {% if move.product %}
                        {{ move.product.code }}
                      {% else %}
                        -
                      {% endif %}
                  </td>
                  <td>
                      {% if move.product %}
                        {{ move.product.name }}
                      {% else %}
                        {{ move.description }}
                      {% endif %}
                  </td>
                  <td class="text-right">
                    {{ formatLang(move.quantity, production.company.party.lang, digits=move.unit_digits) }} {% if move.uom.symbol != 'u' %}{{ move.uom.symbol }}{% endif %}
                  </td>
                  <td class="text-center">{{ move.from_location.rec_name }}</td>
                  <td class="text-center">{{ move.planned_date and move.planned_date|dateformat or '-' }}</td>
                  <td class="text-center">{{ move.effective_date and move.effective_date|dateformat or '-' }}</td>
                  <td class="text-capitalize text-right">{{ move.state }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="h2">Outputs</span>
          </div>
          <div class="col-xs-12">
            <table class="table">
              <tbody>
                <tr>
                  <th>#</th>
                  <th class="text-center">Item</th>
                  <th>Description</th>
                  <th class="text-right">Quantity</th>
                  <th class="text-center">To Location</th>
                  <th class="text-center">Planned Date</th>
                  <th class="text-center">Effective Date</th>
                  <th class="text-right">State</th>
                </tr>
                {% for move in production.outputs %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td class="text-center">
                      {% if move.product %}
                        {{ move.product.code }}
                      {% else %}
                        -
                      {% endif %}
                  </td>
                  <td>
                      {% if move.product %}
                        {{ move.product.name }}
                      {% else %}
                        {{ move.description }}
                      {% endif %}
                  </td>
                  <td class="text-right">
                    {{ formatLang(move.quantity, production.company.party.lang, digits=move.unit_digits) }} {% if move.uom.symbol != 'u' %}{{ move.uom.symbol }}{% endif %}
                  </td>
                  <td class="text-center">{{ move.to_location.rec_name }}</td>
                  <td class="text-center">{{ move.planned_date and move.planned_date|dateformat or '-' }}</td>
                  <td class="text-center">{{ move.effective_date and move.effective_date|dateformat or '-' }}</td>
                  <td class="text-capitalize text-right">{{ move.state }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
